<!DOCTYPE html>
<html lang="sr">

<%= require('html-loader!../partials/head.html') %>

<body class="page-template-default page page-id-7" cz-shortcut-listen="true">
  <%= require('html-loader!../partials/header.html') %>

  <div class="main-content-width-wrapper">
    <div class="index-entry">
      <h1>Biografija</h1>

      <main class="main-content">
        <p>
          Moje ime je Ružica&nbsp; Madžarević. Završila sam psihologiju na
          Filozofskom fakultetu u Beogradu jer me je zanimalo šta sve ima u tim
          svakodnevnim frazama:
        </p>
        <blockquote>
          <p>
            ‚‚To je na psihičkoj bazi‚‚ … ‚‚ma pusti ih, to je psiha‚‚ … ‚‚Nije
            dovoljno jaka ličnost‚‚ … ‚‚Džaba ti pare, ako nisi svoj‚‚
          </p>
        </blockquote>
        <p>
          Htela sam da saznam kako misle, osećaju i ponašaju se ljudi koji su
          zadovoljni svojim životom. Imala sam priliku da dosta toga naučim u
          toku redovnih studija i da kroz dodatna usavršavanja saznam o
          različitim teorijama prevazilaženja nezadovoljstvo u različitim
          životnim situacijima. I ta znanja imala sam prilike da proverim u
          različitim sredinama: radeći u školi, radeći sa ljudima koji imaju
          hronične zdrastvene probleme, u okviru projekata koji rade sa mladima,
          ljudima koji imaju problem sa kockanjem, psihoedukacija i savetovanje
          ljudi koji imaju šizofreniju…
        </p>
        <p>
          Dosadašnje iskustvo me je naučilo da je svaki problem važan i da svako
          određuje šta je bolna teškoća sa kojom se suočava. Nekome je najteži i
          najbolniji problem: raskid duge ljubavne veze, nekome neuspeh na poslu
          ili školi, nekome svadje i nerazumevanje bliskih ljudi, nekome gubitak
          bliskih ljudi, suočavanje sa bolešću. A, nekada nam je teškoća kada se
          nama dešava nešto što ne razumemo: previše smo tužni, bez energije,
          previše smo uplašeni, previše umorni i nikako da se odmorimo, neki od
          nas se možda prepoznaju u raznim opisima psiholoških oboljenja.
        </p>
        <p>
          I svi ti problemi i teškoće su deo naše životne priče: ko smo, kako
          naš život izgleda, kako nas to sprečava da živimo željeni život.
        </p>
        <p>
          Moj zadatak je da ti pomognem svojim znanjem i iskustvom da povratiš
          svoju ličnu moć tj. da povećaš svoje mogućnosti da proizvedeš promenu
          u svom životu.
        </p>
        <p>
          Ovaj sajt je mesto gde predstavljam&nbsp; kako psihoterapija,
          savetovanje, koučing, psihološka testiranja i obuke pomažu
          ljudima&nbsp; da unaprede svoju ličnu moć i prevazidju jaz u svojoj
          životnoj priči – gde su i gde žele da budu.&nbsp; Želim da kroz
          tekstove pokažem kako ja primenjujem psihologiju koja unapredjuje tvoj
          svakodnevni život.&nbsp; Ako vam ono što piše u tekstovima deluje
          korisno, javite se procenimo kako mogu da budem vaš vodič na putu od
          problema do rešenja.
        </p>
        <p>
          Istražite tekstove, komentarišite ih i ako vam se dopadaju prijavite
          se da ih dobijate čim se objave.
        </p>
      </main>
    </div>
  </div>
  <%= require('html-loader!../partials/footer.html') %>
</body>

</html>