<!DOCTYPE html>
<html lang="sr">
<%= require('html-loader!../partials/head.html') %>

<body>
    <%= require('html-loader!../partials/header.html') %>
    <div class="main-content-width-wrapper">
        <div class="index-entry">
            <h1>KOUČING</h1>
            <main class="main-content">
                <p> <strong>Savetovanje+obuka</strong></p>
                <p>Vidiš da negde blokiraš sebe i hoćeš da to prevaziđeš, npr. teško ti je da odbiješ zahteve nekih
                    ljudi
                    ili
                    se
                    teško
                    snalaziš kada dođe do promena. U mom radu, koučing podrazumeva da:</p>
                <ul>
                    <li>saznaš koje su ti veštine potrebne da naučiš ili dodatno razviješ (obuka)</li>
                    <li>razumeš u kojim situacijama sebe blokiraš i naučiš kako da to prevazidješ (savetovanje)</li>
                </ul>
                <p>Koučing je proces što znači da se odvija neki određeni vremenski period i kroz neke određene korake.
                    Uopšteno
                    posmatrano, proces ima sledeće faze:</p>
                <ul>
                    <li>određuje se šta je cilj promene (npr. želim da ne odustajem od važnih planova; želim da ne
                        odugovlačim;
                        želim da prevazidjem probleme u učenju; želim da razumem zašto je većina mojih partnerskih
                        odnosa
                        propala
                        na sličan način; želim da bolje iskažem svoje emocije)</li>
                    <li>analiziramo šta su lične blokade i jake strane (npr. teško mi je da počnem da nešto radim, ali
                        mi
                        treba
                        malo vrmeena da naučim nešto novo; dobro prepoznam šta osećam ali mi je teško da to kažem jer se
                        plašim
                        reakcije drugih)</li>
                    <li>osmišljavaju se i isprobavaju novi načini ponašanja, razmišljanja i osećanja</li>
                </ul>
                <p>Kada utvrdimo da smo ostvarilli dogovorenu promenu, proces rada se završava. U zavisnosti od tipa
                    promene
                    ceo proces može se sastoji iz nekoliko susreta, a u proseku se odvija 15ak susreta. Proces rada se
                    sastoji
                    od susreta jednom nedeljno koji traju oko 45minuta.</p>
                <p><strong>NAPOMENA:</strong> Navedeni opis je samo jedno od shvatanja koučinga i jedan od načina kako
                    izgleda
                    proces.</p>
                <p>Najčešće postavljana pitanja:</p>
                <ol>
                    <li>Kako se koučing razlikuje od psihoterapije?</li>
                </ol>
                <p>U mom radu, koučing znači da je nekome potreban dodatni podstrek da napravi iskorak iz trenutnog
                    funkcionisanja tj. kako da ono što je dobro i podnošjivo bude još bolje, lepše, funkcionlanije i
                    produktivnije. Proces psihoterapije se obično započinje onda kada je trenutno stanje nepodnošljivo,
                    kada
                    je
                    neizdrživo biti sa sobom i drugima i često podrazumeva da se prvo umanji trenutni neprijatni
                    doživljaj,
                    pa
                    onda nastavi ka drugim promena razmišljanja, osećanja i ponašanja.</p>
                <ol>
                    <li>Kako se koučing razlikuje od ponuđenih obuka?</li>
                </ol>
                <p>Obuke su trenutno u mom radu organizovane kao grupne i više usmerene na usvajanje neke veštine. I
                    tokom
                    obuke se analiziraju sopstvene blokade i jake strane ali u manjoj meri nego tokom koučinga. Takođe,
                    u
                    procesu koučinga nekada se manje uče nove veštine, a više analizira sopstveno ponašanje.</p>
            </main>

        </div>
    </div>


    <%= require('html-loader!../partials/footer.html') %>
</body>

</html>