<!DOCTYPE html>
<html lang="sr">
<%= require('html-loader!../partials/head.html') %>

<body>
    <%= require('html-loader!../partials/header.html') %>
    <div class="classes-wrapper">
        <h1>OBUKE</h1>
        <div class="classes-entry">

            <p>Tokom života mngo toga učimo i da ne primetimo, npr. naučili smo da hodamo, da govorimo jedan jezik (a
                možda
                znate i nekoliko različith jezika). Često je prva asocijacija za učenje: učenje u školi. Učenje gde
                sedimo
                za
                stolom i trudimo se da nešto zapamtimo. Pored toga mnogo učimo i da nismo svesno, uz put.</p>
            <p>Mnoge veštine nekada nismo imali prilike da naučimo ni u školi niti da neprimetno usvojimo u svojoj
                okolini.
                Jedan skup takvih veština se zovu životne veštine i neke od poznatih jesu veština komunikacije,
                planiranja,
                upravljanje sopstvenim emocijama.</p>
            <p>Pogledaj detaljniji opis obuka, možda je neka od njih korisna za tebe.</p>
        </div>
        <div class="container-trainings-column">
            <div class="container-trainings-row">
                <div class="container-trainings-blue">
                    <h2>Analize komunikacije</h2>
                    <p>Svi smo imali makar jednom osećaj u razgovoru kao da se nekim nevidljivo rvemo dok pričamo: ko će
                        da
                        pobedi, čiji će stav da prevagne. Osećaj pritiska dok pričamo, doživljaj da smo saterani u
                        ćošak.
                        Čujemo
                        reči kao naredjenje. Argumente poput:‚‚duguješ mi‚‚. Ili:‚‚Vidi kako se trudim, kako ti nije
                        žao‚,
                        Različite varijante na temu: Ili ovako ili nikako. Sagovornik koji nas gleda bledo i opravdava
                        se
                        sa:‚‚Ne znam ili ne umem‚‚ Različiti sadržaji, sličan doživlja kada se sve završi - iskorišćeno,
                        izmanipulisano, nadigrano, namagarčeno, bes, tuga, razočarenje. Jednostavno znamo da je bila
                        neka
                        borba,
                        a da nismo na pobedničkoj strani. Strana u borbama za moć koju lako prepoznamo. I tu je strana
                        kada
                        smo
                        mi ti koji demonstriramo moć. I jedna i druga strana polaze od uverenja da onoga što nam treba
                        nema
                        dovoljno. I to važi i za materijalno i za emocije. Imamo doživljaj da postoji takmičenje za
                        ljubav,
                        uspeh, naklonost, prihvatanje. I verujemo da ako ne manipulišemo nećemo imati ono što nam je
                        potrebno.
                        Nećemo imati kontrolom nad sopstvenim životom. U odnosu na pitanje kontrole i ogućnosti da
                        zadovoljimo
                        svoje potrebe ljudi se dele u sledeće kategorije: svesni tudjih pokušaja kontrole i ne daju se
                        svesni
                        tudjih manipulacija i defanzivno ulaze u različite kontrolišuće odnose nisu svesni da ulaze u
                        manipulacije, u jednom trenutku se osveste i shvate da su izmanipulisani nikada ne postanu
                        svesni
                        koliko
                        su izmanipulisani. Sa druge strane moći nalazi se saradnja - svesni smo da manipulacije postoji
                        i
                        znamo
                        kako da se funkcionalno izborimo sa tim. Transakciona analiza nudi modele kako da komunikaciju
                        procenimo
                        i kako možemo da odgovorimo. Jednostavna, ali ne uvek laka rešenja. Ukoliko vas zanima da o tome
                        saznate
                        više, pridružite nam se na treningu. Predstaviću vam sve što znam iz oblasti analize
                        komunikacije i
                        pomoći vam da kreirate rešenja za sebe u skladu sa vašim kontekstima.</p>
                </div>
            </div>
            <div class="container-trainings-row">
                <div class="container-trainings-yellow">
                    <h2>Moj emotivni život</h2>
                    <p>Emocije nam često deluju kao ogroman haos kroz koji se nekako snalazimo. Imamo osećaj da tumaramo
                        dok
                        pokušavamo da nadjemo rešenja za svakodnevne probleme i nevolje. I primećujemo da ima nekih
                        ljudi
                        kojima
                        to uspeva lako i jednostavno. Da li želite da saznate šta oni rade? Da li želite da: " Smanjite
                        stres i
                        povećete osećaj sigurnosti " Unapredite odnose sa drugima " Budete zadovoljniji svojim emotivnim
                        životom
                        " Održite emocionalnu ravnotežu " Usvojite neke nove veštine važne za emotivni život npr. kako
                        ohrabriti
                        i smiriti sebe " Razumete svoje potrebe i motivaciju, kao i motivaciju i potrebe drugih ljudi "
                        Stvorite
                        emotivni život kakav želite</p>
                </div>
            </div>
            <div class="container-trainings-row">
                <div class="container-trainings-orange">
                    <h2>Emocionalna pismenost</h2>
                    <p>Emocije su sastavni deo ljudske prirode. Pomoću emocija mi različito odgovaramo na životne
                        situacije
                        - sa
                        ljutnjom, tugom, strahom, srećom… Emocije prate i naše misli i naše akcije, utiču na naše
                        zdravlje i
                        naše odnose sa drugima i samim sobom. Emocionalna pismenost je sposobnost da prepoznamo,
                        razumemo i
                        na
                        odgovarajući način izrazimo svoje emocije. Kao što je poznavanje slova osnova za čitanje i
                        pisanje,
                        kada
                        znamo veštine emocionalne pismenosti imamo osnovu kako da kod sebe i drugih opažamo i
                        komuniciramo
                        emocije. Postati emocionalno pismen znači da poznajemo azbuku, gramatiku i rečnik sopstvenom
                        emotivnog
                        života. Pozivam vas da se upoznate sa azbukom emocionalne pismenosti. Dodjite da vidite kako
                        kada
                        poznajete jezik emocija one rade sa vama i za vas.</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <%= require('html-loader!../partials/footer.html') %>
</body>

</html>