<header class="header Grid">
  <a href="javascript:void(0)" id="menu-icon"><span>Menu</span></a>
  <a class="logo-wrapper" href="index.html"><img src="../images/ruzicamadzarevic-logo.png" alt="početna strana"
      class="logo Grid-cell" /></a>
  <nav class="main-navigation-container mobile-menu">
    <div class="menu-main-menu-container">
      <ul id="menu-primary-navigation" class="main-navigation">
        <li>
          <a href="index.html"><span><i class="_mi _before dashicons dashicons-book-alt"
                aria-hidden="true"></i><span>Početna</span></span></a>
        </li>
        <li>
          <a href="article.html"><span><i class="_mi _before dashicons dashicons-book-alt"
                aria-hidden="true"></i><span>Za Čitanje</span></span></a>
        </li>
        <li>
          <a href="biography.html"><span><i class="_mi _before dashicons dashicons-welcome-edit-page"
                aria-hidden="true"></i><span>Biografija</span></span></a>
        </li>

        <li>
          <a href="services.html"><span><i class="_mi _before dashicons dashicons-welcome-edit-page"
                aria-hidden="true"></i><span>Usluge</span></span></a>
        </li>

        <li>
          <a href="contact.html"><span><i class="_mi _before dashicons dashicons-admin-users"
                aria-hidden="true"></i><span>Kontakt</span></span></a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="balans"></div>
</header>