<header class="header Grid">
  <a href="javascript:void(0)" id="menu-icon"><span>Menu</span></a>
  <a class="logo-wrapper" href="index.html"
    ><img
      src="../images/ruzicamadzarevic-logo.png"
      alt="početna strana"
      class="logo Grid-cell"
  /></a>
  <nav class="main-navigation-container mobile-menu">
    <div class="menu-main-menu-container">
      <ul id="menu-primary-navigation" class="main-navigation">
        <li
          id="menu-item-21"
          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21"
        >
          <a href="localhost:3000/za-citanje/"
            ><span
              ><i
                class="_mi _before dashicons dashicons-book-alt"
                aria-hidden="true"
              ></i
              ><span>Za Čitanje</span></span
            ></a
          >
        </li>
        <li
          id="menu-item-24"
          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24"
        >
          <a href="biography.html"
            ><span
              ><i
                class="_mi _before dashicons dashicons-welcome-edit-page"
                aria-hidden="true"
              ></i
              ><span>Biografija</span></span
            ></a
          >
        </li>
        <li
          id="menu-item-22"
          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22"
        >
          <a href="contact.html"
            ><span
              ><i
                class="_mi _before dashicons dashicons-admin-users"
                aria-hidden="true"
              ></i
              ><span>Kontakt</span></span
            ></a
          >
        </li>
      </ul>
    </div>
  </nav>
  <div class="balans"></div>
</header>
