<!DOCTYPE html>
<html lang="sr">

<%= require('html-loader!../partials/head.html') %>

<body class="page-template-default page page-id-11" cz-shortcut-listen="true">
  <%= require('html-loader!../partials/header.html') %>
  <div class="main-content-width-wrapper">
    <div class="index-entry">
      <h1>Kontakt</h1>

      <main class="main-content">
        <p>Nije lako kontaktirati nekoga koga ne poznaješ.</p>
        <p>
          Ako želiš da postaviš pitanje o psihoterapiji, savetovanju i koučing
          možda te ideja da pričaš o svojem problemu i teškoću dodatno
          opterećuje (Da li je to glupo/Šta ako ne koristi/Sramote me je…)
        </p>
        <p>
          Često ljudi koji pitaju nešto oko obuka i testiranja se plaše da će
          ispasti glupi jer pitaju nešto što je negde već napisano.
        </p>
        <p>
          Nemoj da odustaneš od pitanja, izaberi način koji je za tebe
          najjednostavniji, najlakši ili najmanje nepijatan:
        </p>
        <p>
          Možeš da me <span class="bold-text">pozoveš</span> ili pošalješ <span class="bold-text">sms/viber/whats
            up</span> poruku na <span class="bold-text">broj
            0603347049&nbsp;</span> Možda se ne javim odmah, jer nije trenutak i prilika
          da razgovaramo, ali odgovoriću prvom prilikom. Nekada ću da se javim i
          da zamolim da se čujemo u neko drugo, dogovoreno vreme kada je
          odgovarajuća situacija za razgovor npr. dovoljno vremena, bez okolne
          gužve,buke i sl.
        </p>
        <p>
          Možeš da <span class="bold-text">pozoveš Savetovalište entera</span>. Ukoliko ja trenutno nisam u
          kancelariji ostavite poruku i javiću vam se prvom prilikom.
        </p>
        <p>
          Možeš da pošalješ mail.&nbsp; U slučaju da nisam pored mail-a stići će
          automatski odgovor kada možete da očekuješ odgovor.
        </p>
        <p>
          Možeš da me kontaktiraš porukom na nekoj od društvenih mreža. Ne
          savetujem kontakt povodom dogovora o radu preko javnih komentara i
          postova jer time izlažete svoju privatnost nepoznatim ljudima.
        </p>
        <p>
          Gde god da postaviš pitanje, odgovaram <span class="bold-text">u roku od 24h</span>. Odgovor možeš da
          čekaš duže od 24h ako traju praznici, vikend ili tokom odmora.
        </p>
        <div>
          Prostor za rad je u <span class="bold-text">Savetovalištu Entera</span>, koje se nalazi u <span
            class="bold-text">Beogradu u
            Pop Lukinoj 20/1</span>.
        </div>
      </main>
    </div>
  </div>
  <%= require('html-loader!../partials/footer.html') %>
</body>

</html>