<!DOCTYPE html>
<html lang="sr">
<%= require('html-loader!../partials/head.html') %>

<body class="home blog">
  <%= require('html-loader!../partials/header.html') %>
  <div class="home">
    <div class="home-hero-section Grid">
      <div class="hero-content">
        <h1>KO SAM JA?</h1>
        <p>
          Moje ime je Ružica Madžarević i bavim se psihologijom i
          transakcionom analizom. Naučno rečeno tu sam da ljudima pružim
          podršku da unaprede i očuvaju svoje mentalno zdravlje. Jednostavnije
          rečeno pomažem ljudima da pronađu način da (p)ostanu srećni i
          zadovoljni svojim životom.
        </p>
      </div>
    </div>
    <h2 class="if-you-want-heading">Ukoliko želiš da:</h2>

    <div class="main-wrapper">


      <a href="" class="sqares-sizer">
        <img src=<%=require('../images/zivotni-stil.svg') %> alt="" class="grid-if-you-want-to">
      </a>

      <a href="" class="sqares-sizer">
        <img src=<%=require('../images/upoznas-sebe.svg') %> alt="" class="grid-if-you-want-to">
      </a>

      <a href="" class="sqares-sizer">
        <img src=<%=require('../images/budes-samopouzdaniji.svg') %> alt="" class="grid-if-you-want-to">
      </a>

      <a href="" class="sqares-sizer">
        <img src=<%=require('../images/licna-moc.svg') %> alt="" class="grid-if-you-want-to">
      </a>
    </div>
    <div class="home-featured-instructors-section">
      <h2>Kreni nekom od ovih staza</h2>
      <div class="featured-instructors-width-wrapper">
        <div class="featured-instructor featured-instructor-yellow">
          <img src=<%=require('../images/koucing.jpg') %> alt="" />
          <h3>KOUČING</h3>
          <p>
            Vidiš da negde blokiraš sebe i hoćeš da to prevaziđeš, npr. teško
            ti je da odbiješ zahteve nekih ljudi ili se teško snalaziš kada
            dođe do promena. U mom radu, koučing podrazumeva da:
          </p>
          <ul>
            <li>
              saznaš koje su ti veštine potrebne da naučiš ili dodatno
              razviješ (obuka)
            </li>
            <li>
              razumeš u kojim situacijama sebe blokiraš i naučiš kako da to
              prevazidješ (savetovanje)
            </li>
          </ul>
          <a class="button" href="couching.html">Opširnije</a>
        </div>
        <div class="featured-instructor featured-instructor-orange">
          <img src=<%=require('../images/psihoterapija.jpg') %> alt="" />
          <h3>PSIHOTERAPIJA</h3>
          <p>
            Psihoterapija je način da promeniš ono što misliš, radiš i šta
            osećaš kako bi se prevazišao jaz u životni priči- gde sam i gde
            želim da budem. Njačešće ljudi počinju sa psihoterapijom kada je
            mesto na kojem su njima nepodnošljivo: loše se osećaju, bespomoćni
            su pred nekim mislima, osećanjima i ponašanjam.
          </p>
          <a class="button" href="psychotherapy.html">Opširnije</a>
        </div>
        <div class="featured-instructor featured-instructor-blue">
          <img src=<%=require('../images/obuke.jpg') %> alt="" />
          <h3>OBUKE</h3>
          <p>
            Mnoge veštine nekada nismo imali prilike da naučimo ni u školi
            niti da neprimetno usvojimo u svojoj okolini. Jedan skup takvih
            veština se zovu životne veštine i neke od poznatih jesu veština
            komunikacije, planiranja, upravljanje sopstvenim emocijama.
          </p>
          <a class="button" href="trainings.html">Opširnije</a>
        </div>
      </div>
    </div>
  </div>
  <%= require('html-loader!../partials/footer.html') %>
</body>

</html>